<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>访问次数过多</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <!--<script src="./js/bootstrap.min.js"/>-->
</head>
<body style="padding: 10px;">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">访问次数过多</h1>
            <p class="lead">一分钟后刷新就可以了，伙计，你是来刷我服务器的吧</p>
            <hr class="my-4"/>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/" role="button">首页</a>
            </p>
        </div>
    </div>
</body>
</html>